*{padding: 0;
margin: 0;
}
.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
    gap: 82px-;
}
body{
    background-color: #1E1E1E;
    color: #F6F6F6; 
    box-sizing: border-box;
}
.presentacion_imagen {
    width: 50%;
}

.presentacion_imagen {
    width: 50%;
}
.presentacion_contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}